.header {
    background-color: #46B4CE !important;
    background:  url(../images/book.png) no-repeat center center;
    background-size: 30%;
    position: relative;
    margin-top: 25px;
    height: 20em;
}
.header>h1{
  border:none;
}
h1{
    font-family: 'Rye', cursive;
    border-bottom: 2px dotted black;
}


/*extra small devices*/
@media (min-width: 300px) {
    .header {
      background-size: 55%;
      height: 15em;
    }
  }
  /* Small devices (tablets, 768px and up) */
  @media (min-width: 768px) {
      .header {
          background-size: 40%;
      }
  }
  /* Medium devices (desktops, 992px and up) */
  @media (min-width: 992px) {
      .header {
          background-size: 30%;
      }
  }

  
.btn#delete{ 
  padding: 6px 5px; 
  font-size: 16px; 
  cursor: pointer; 
  margin-right: 10px;
  margin-top:8px;
 
}

/* Darker background on mouse-over */
.btn#delete:hover {
  background-color:green;
}

.btn#toggleRead{
    background-color: royalblue; 
  cursor: pointer; 
  font-size: 16px;
  margin-right:5px;
  padding: 6px 8px;
  margin-top:8px;
  
}

.navbar {
    margin-top: -30px;
}

#success_alert {
    opacity: 0;
    left: 30%;
}
#pogresanUnos {
  opacity: 0;
}

div.alert{
    height: 4em;
    margin-top: 1vh;
}
 
main.card{
  margin: 5px;
}
.readingList, .completedBooks{
  display: flex;
}
